<div class="footer" id="footerbar">
	<div class="contact">
        <span class="contact-underline">C<span class="styled-part">ontact u</span>s</span>
        <div class="contact-container">
            <div class="contact-container01">
                <div class="office">
                    <img src="Assets/Images/email.png" />
                    <div class="contact-office-details">
                        <span>Office:</span>
                        <span class="office-text"> deansoffice@eng.jfn.ac.lk</span>
                        <br />
                        <span>Dean:</span>
                        <span class="office-text"> deans@eng.jfn.ac.lk</span>
                    </div>
                 </div>
                 <div class="contact-assis-details">
                    <img src="Assets/Images/call.png" />
                        <div class="contact-con-details">
                            <span>Assistant Registrar's office:</span>
                             <span>+94-21-2060161</span>
                            <br />
                            <span>Dean's Office:</span>
                            <span>+94-021-2060160</span>
                        </div>
                </div>
            </div>

            <div class="contact-container02">
                <div class="address">
                    <img src="Assets/Images/address.png" />
                    <div class="contact-address-details">
                        <span>Address:</span>
                        <span>Faculty of Engineering</span>
                        <span>University of Jaffna</span>
                        <span>Ramanathan Road</span>
                        <span>Jaffna</span>
                        <span>Sri Lanka</span>
                    </div>
                </div>
                <div class="follow">
                    <span>Follow us</span>
                    <div class="social-media">
                        <img src="Assets/Images/facebook.png"  />
                        <img src="Assets/Images/youtube.png" style="width:25px; height:20px;" />
                        <img src="Assets/Images/linkin.png" />
                    </div>
                </div>

            </div>
            <div class="contact-container03">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3937.2213468208793!2d80.39690987622076!3d9.313645560668391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe96901581421d%3A0x3d3557c67d291156!2sFaculty%20Of%20Engineering%2C%20University%20of%20Jaffna!5e0!3m2!1sen!2slk!4v1721482446063!5m2!1sen!2slk"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-botom">
            <span>© 2024 Faculty of Engineering, University of Jaffna. All rights reserved.</span>
    </div>
</div>









<script>
    let lastScrollBottom = 0;
    const footer = document.getElementById('footerbar');
    const footerHeight = footer.offsetHeight;
    let footerScrollOffset = 0;

    window.addEventListener('scroll', () => {
        const scrollBottom = window.pageYOffset || document.documentElement.scrollTop;
        const scrollDifference = scrollBottom - lastScrollBottom;

        if (scrollDifference > 0) {
            // Scrolling down
            footerScrollOffset = Math.min(scrollOffset + scrollDifference, footerHeight);
        } else {
            // Scrolling up
            footerScrollOffset = Math.max(scrollOffset + scrollDifference, 0);
        }

        header.style.bottom = `-${footerScrollOffset}px`;

        lastScrollBottom = scrollBottom;
    });
</script>