<div class="header">
	<div class="logo-bar">
		<div class="container">
			<img src="../Assets/Images/UoJ_logo.png" class="logo"/>
		</div>
		<div class="head-text">
			<span class="title light-blue">FACULTY OF ENGINEERING</span><br/>
			<span class="title">UNIVERSITY OF JAFFNA</span>
		</div>
	</div>
	<div class="nav-bar">
		<div class="nav-item">Logout</div>
		<div class="nav-item">Contact</div>
		<div class="nav-item">About</div>
		<div class="nav-item">Home</div>
	</div>
</div>