@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

<link href="Style/DialogOptions.css" rel="stylesheet" />

<div class="header">
	<div class="logo-bar">
		<div class="container">
			<img src="Assets/Images/UoJ_logo.png" class="logo"/>
		</div>
		<div class="head-text">
			<span class="title light-blue">FACULTY OF ENGINEERING</span><br/>
			<span class="title">UNIVERSITY OF JAFFNA</span>
		</div>
	</div>
	<div class="nav-bar">
		<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
			<Authorized>
				<div class="nav-item"><a title="Logged in as @context.User.FindFirst(ClaimTypes.Name).Value" onclick="showLogoutDialog()">Logout</a></div>
			</Authorized>
			<NotAuthorized>
				<div class="nav-item"><a href="login/microsoft?RedirectUri=/" title="Login from microsoft account">Login</a></div>
			</NotAuthorized>
		</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
		<div class="nav-item"><a href="contact">Contact</a></div>
        <div class="nav-item"><a href="about">About</a></div>
        <div class="nav-item"><a href="">Home</a></div>
	</div>
</div>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
	<Authorized>
		<div style="display:none" class="msg blocking" id="add-item">
			<div class="deselect-plane" onclick="hideLogoutDialog()">
			</div>
			<div class="hover-box">
				<h1>Confirm Logout</h1>
				<p class="label">Are you sure you want to logout from: <span class="bold">@context.User.FindFirst(ClaimTypes.Name).Value?</span></p>
				<button onclick="hideLogoutDialog()">No</button>
				<a href="login/logout"><button>Yes</button></a>
			</div>
		</div>

		<script type="text/JavaScript">
			function showLogoutDialog() {
				document.getElementById("add-item").style.display = "block";
				hideLog();
			}

			function hideLogoutDialog() {
				document.getElementById("add-item").style.display = "none";
			}
		</script>
	</Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>