@page "/Account/AccessDenied"

<div class="menu-padding">
    <div class="centered">
        <div class="inline">
            <img src="Assets/Images/warning_not_aut_ico.png" />
            <div class="warning">
                <span class="heading">Resticted access</span>
                <span>You don't have authority or proper credentials to access the page you want to access <button onclick="history.back()"> Go back! </button></span>

            </div>
        </div>
    </div>
</div>

@code {

}
