﻿
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    overflow-y: scroll;
}


.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 75vh; 
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

    .mySlides img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    user-select: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 1);
}
.prev{
    left:50px;
}
.next {
    right: 50px;
    
}

.dot-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

    .dot.active {
        background-color: #717171;
    }

.portal {
    width: 100%;
    min-height: 258px;
    background: rgba(0, 0, 0, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .portal .portal-text {
        display: flex;
        flex-direction: column;
        font-size: 48px;
        font-weight: 700;
        line-height: 62.54px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

    .portal .register {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 400;
        line-height: 31.27px;
        text-align: center;
        color: rgba(255, 255, 255, 1);
    }

.service {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    min-height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:2% 5%;
}
.sevice-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 48.5px;
    letter-spacing: 0.02em;
    text-align: center;
}
.service-offer{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    width:100%;
}
.service-offer-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container01{
    margin-top:10px;
    margin-bottom:20px;
}
.container02 {
    margin-top: 35px;
    margin-bottom: 20px;
}
.container03 {
    margin-top: 25px;
    margin-bottom: 20px;
}
.container04 {
    margin-bottom: 20px;
}
.service-container-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.1px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom:20px;
}
.service-container-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.4px;
    letter-spacing: 0.02em;
    text-align: center;
}
.exams {
    width: 80%;
    height:200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 25px;
    background-color: rgba(4, 10, 43, 0.94);
    color:white;
}
.exams-avalible {
    font-size: 30px;
    font-weight: 700;
    line-height: 31.27px;
    text-align: center;
    margin-top:20px;
    margin-bottom:40px;
}
.exams-contain{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    width:100%;
}
.exams-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 19.36px;
    text-align: center;
}
.exams-dot-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    margin-top:40px;
}
    .exams-dot-container .exams-dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background: rgba(255, 255, 255, 0.28);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.2s ease; /*css eke wenas karana thena*/
    }
.exams-dot.active{
    background-color:white;

}
.exam-service-des {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    font-weight: 400;
    line-height: 31.53px;
    letter-spacing: 0.02em;
    text-align: center;
}