@page "/home"

<PageTitle>Home</PageTitle>

<div class="university-photo">
    <img src="/Assets/Images/left_arrow.png" alt="left arrow">
    <div class="container">
        <div class="contaner-heading">
            Registrations Open for Exams:
        </div>
        <div class="container-description">
            End Semester Examination_Semester 06_E20 Batch
            Registration Status: Open for Students
        </div>
        <div class="container-description">
            End Semester Examination_Semester 05_E21 Batch
            Registration Status: Open for Students
        </div>
    </div>
    <img src="/Assets/Images/right_arrow.png" alt="right arrow">
</div>

<div class="portal">
    <div class="portal-text">
        <span>Welcome to the Exam Registration Portal</span>
        <span>Faculty of Engineering ,University of Jaffna</span>
    </div>
    <div class="register">
        -Register for your exams quickly and easily-
    </div>
</div>

<div class="vision">
    <div class="vision-text">
        <span class="vision-underline">
            V<span class="styled-part">ISIO</span>N</span>
        <div class="vision-text-description">
            <span>To be a leading centre of excellence in teaching, </span>
            <span>learning, research and scholarship.</span>
        </div>
    </div>
    <img src="/Assets/Images/vision.png" alt="vision" />
</div>

<div class="mission">
    <img src="/Assets/Images/mission.png" alt="mission" />
    <div class="mission-text">
        <span class="mission-heading">M<span class="styled-part">ISSIO</span>N</span>
        <div class="mission-description">
            <span> “ The mission of the Faculty of Engineering is </span>
            <span>to foster and promote engineering nationally</span>
            <span>and globally by producing competent Engineers</span>
            <span>with social, economic and ethical values, and</span>
            <span>environmental consciousness, who contribute to</span>
            <span>sustainable development.”</span>
        </div>
    </div>
</div>

<div class="contact">
    <span class="contact-underline">C<span class="styled-part">ontact u</span>s</span>
    <div class="contact-description">
        <div>
            <span>Faculty of Engineering</span>
            <span>University of Jaffna</span>
            <span>Ariviyal Nagar,</span>
            <span>Killinochchi 44000,</span>
            <span>Sri Lanka</span>
        </div>
        <div>
            <span>Department of Computer</span>
            <span>+94-21-2282211</span>
            <span>Department of Electrical & Electronic:</span>
            <span>+94-21-2282209</span>
            <span>Department of Inter Disciplinary Studies:</span>
            <span>+94-21-2282210 , +94-21-2282218</span>
            <span>Department of Civil Engineering:</span>
            <span>+94-21-2060167</span>
            <span>Assistant Registrar's office:</span>
            <span>+94-21-2060161</span>
            <span>Dean's Office:</span>
            <span>+94-021-2060160</span>
        </div>
        <div>
            <span>Office:</span>
            <span><a href="">deansoffice@eng.jfn.ac.lk</a></span>
            <span>Dean:</span>
            <span><a href="">dean@eng.jfn.ac.lk</a></span>
        </div>
    </div>
</div>