@page "/about"

<PageTitle>About</PageTitle>


<div class="about">
    <div class="about-details">
        <div class="about-img">
            <img src="/Assets/Images/about_image.png" alt="About" />
        </div>
        <div class="about-container">
            <span class="about-title">About</span>
            <div class="about-container-details">
                <span class="bold-text">Welcome to the Exam Registration Portal</span>
                <span class="bold-text">Faculty of Engineering, University of Jaffna</span>
                <span class="first padding">This system is designed to make exam registration</span>
                <span class="first">efficient and user-friendly, facilitating a smooth and </span>
                <span class="first">organized exam process for our students. It includes a</span>
                <span class="first">streamlined approval process by coordinators and</span>
                <span class ="first">advisors, and allows administration to manage exams </span>
                <span class="first">efficiently</span>
            </div>
        </div>
    </div>

    <div class="vison-mission">
        <div class="vision">
            <img src="Assets/Images/vision.png" />
            <span class="vision-heading">V<span class="styled-part">ISION</span></span>
            <div class="vision-text">
                <span>To create a streamlined, user-friendly exam</span>
                <span>registration web application for the</span>
                <span>engineering faculty that simplifies and</span>
                <span>enhances the administrative and student </span>
                <span>experience, ensuring efficient, accurate, and</span>
                <span>accessible exam registration and</span>
                <span>management</span>
            </div>
        </div>
        <div class="mission">
            <img src="Assets/Images/mission.png" />
            <span class="mission-heading">M<span class="styled-part">ISSION</span></span>
            <div class="mission-text">
                <span>To develop an intuitive, reliable, and secure platform</span>
                <span>tailored to the needs of the engineering faculty, </span>
                <span>minimizing administrative burden, enhancing user</span>
                <span>experience, and supporting the growing needs of</span>
                <span>students and staff, while ensuring accessibility and data </span>
                <span>protection for all users.</span>
            </div>
        </div>

    </div>

</div>


@code {

}
