@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="contactpage">
    <h1>Contact Us</h1>
    <div class="contactpage-container">
        <div class="contactpage-container01">
            <img src="Assets/Images/phone.png" />
            <span class="contact-heading">Telephone</span>
            <span class="contactpage-text">Assistant Registrar's office:</span>
            <span class="contactpage-text">+94-21-2060161</span>
            <span class="contactpage-text">Dean's Office:</span>
            <span class="contactpage-text">+94-021-2060160</span>
        </div>
        <div class="contactpage-container01">
            <img src="Assets/Images/home_address.png" />
            <span class="contact-heading">Primary Address</span>
            <span class="contactpage-text">Faculty of Engineering,</span>
            <span class="contactpage-text">University of Jaffna,</span>
            <span class="contactpage-text">Ariviyal Nagar,</span>
            <span class="contactpage-text">Killinochchi 44000,</span>
            <span class="contactpage-text">Sri Lanka.</span>
        </div>
        <div class="contactpage-container01">
            <img src="Assets/Images/sms.png" />
            <span class="contact-heading">Primary Email</span>
            <span class="contactpage-text">Office:</span>
            <span class="underline contactpage-text">deanengoffice@jfn.ac.lk</span>
            <span class="contactpage-text">Dean:</span>
            <span class="underline contactpage-text">dean@eng.jfn.ac.lk</span>
        </div>
    </div>
    <div class="contact-information">
        <h1>Department Contact Information</h1>
        <div class="contact-information-container">
            <div class="contact-information-container-details">
                <div class="contact-information-com">
                    <span>Department of Computer:</span>
                    <span>+94-21-2282211</span>
                </div>
                <div class="contact-information-elec">
                    <span>Department of Electrical & Electronic:</span>
                    <span>+94-21-2282209</span>
                </div>
                <div class="contact-information-inter">
                    <span>Department of Inter Disciplinary Studies:</span>
                    <span>+94-21-2282210 , +94-21-2282218</span>
                </div>
                <div class="contact-information-civil">
                    <span>Department of Civil Engineering:</span>
                    <span>+94-21-2060167</span>
                </div>
            </div>
            <div class="">
            </div>

        </div>


    </div>
</div>

@code {

}
