@page "/advisor-coordinator-home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsBoth")]

<PageTitle>Home - Redirect</PageTitle>


<div class="coordinateandadvisor">
    <div class="login">
        Login as
    </div>
    <div class="image-common">
        <a href="/advisor-home" class="advisor"></a>
        <a href="/coordinator-home" class="coordinator"></a>
    </div>

</div>




@code {

}
