@page "/admin-print/{exam_id}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsAdmin")]

<PageTitle>Admin - print</PageTitle>
<div class="admin-print">
        <section class="admin-print-path">
            <div class="path">Administrator home &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; Review & print admissions &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; View</div>
        </section>
        <section>
            <div class="admin-print-view">View</div>
            <div class="admin-print-register">
            <div style="text-decoration:underline;">Register For End Semester Examination</div>
            <div class="semester" style="text-decoration:underline;">Semester 06</div>
                <div class="admin-print-batch" >
                <div class="batch" style="text-decoration:underline;">E20 Batch :</div>
                <div class="admin-print-batch-department" style="text-decoration:none;">Computer Engineering</div>
                </div>
            </div>
        </section>
        <section>
            <div class="admin-autofill">
                <div class="admin-autofill-reg">
                        Registration Number :
                        <div class="reg-auto"></div>
                </div>
                <div class="admin-autofill-student-name">
                        Student Name :
                    <div class="student-name-auto"></div>
                </div>
            </div>
        </section>
        <section>
             <table class="table">
                    <thead>
                        <tr>
                    <th style="max-width:20px">Course Code</th>
                    <th style="max-width:60px">Course name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                    <td style="max-width:20px"></td>
                    <td style="max-width:60px"></td>
                    <td style="max-width:40px"><button>Approved</button></td>
                        </tr>
                        <tr>
                    <td style="max-width:20px"></td>
                    <td style="max-width:60px"></td>
                    <td style="max-width:40px"><button>Rejected</button></td>
                        </tr>
                    </tbody>
            </table>
        </section>
</div>






















@code {
    [Parameter]
    public string exam_id { get; set; }
}