@page "/admin-home"
@using Microsoft.AspNetCore.Authorization
@using ExamRegistrationUoJ.Services.DBInterfaces
@using AdminPages
@attribute [Authorize(Policy = "IsAdmin")]

@inject IDBServiceAdmin1 db

<PageTitle>Home - Admin</PageTitle>


<div class="AdministratorHome">
    <div class="publish-exam">
        Published Exam
    </div>
    <div class="find-exam">
        Find an exam by:
    </div>
    <div class="exam-drop-box">
        <div class="department">
            <select>
                <option selected disabled hidden>Department</option>
                <option value="exam1">Exam 1</option>
                <option value="exam2">Exam 2</option>
            </select>
        </div>
        <div class="semester">
            <select>
                <option selected disabled hidden>Semester</option>
                <option value="exam1">Exam 1</option>
                <option value="exam2">Exam 2</option>
            </select>
        </div>
        <div class="registration">
            <select class="registration">
                <option selected disabled hidden>Registration Status</option>
                <option value="exam1">Exam 1</option>
                <option value="exam2">Exam 2</option>
            </select>
        </div>
    </div>
    <div class="exam-details-show">
        <button class="exam-details-show-icon"><img src="Assets/Images/arrow_icon.png" /></button>
        <div class="exam-details-show-text">
            <span>End Semester Examination_Semester 06_E20 Batch  <br></span>
            <span>Registration Status: Closed for students & directed to approval process</span>
        </div>

    </div>

    <div class="exam-details-show">
        <button class="exam-details-show-icon" onclick="toggleImage()" id="arrow-image"><img src="Assets/Images/arrow_icon.png" /></button>
        <div class="exam-details-show-text">
            <span>End Semester Examination_Semester 06_E20 Batch<br></span>
            <span>Registration Status: Open For Students.</span>
        </div>

    </div>

    <div class="add-exam">
        <a href="admin-new-exam" class="add-exam-button" style="text-decoration: none; color: black;"><img src="Assets/Images/add_department.png" /><span>Add a new exam</span></a>
    </div>

    <div class="exam-finalize">
        <span class="exam-finalize-text">Finalized Exams Through Approved Procedures:</span>

        <div class="exam-details-print">
            <div class="exam-print-show">
                <button class="exam-print-show-icon" id="arrow-image"><img src="Assets/Images/arrow_icon.png" /></button>
                <div class="exam-details-print-text">
                    <span>End Semester Examination_Semester 06_E20 Batch<br></span>
                    <span>Registration Status: Open For Students.</span>
                </div>

            </div>
            <div class="exam-print-admission" id="arrow-image">
                <span>
                    <a href="admin-print" style="text-decoration: underline; " class="link">
                        Review & <br />
                        Print  <br />Admissions
                        @boo
                    </a>
                </span>
            </div>

        </div>
    </div>

</div>

@code {
    private AdminHome page;
    private string boo = "boo";

    protected override async Task OnInitializedAsync()
    {
        page = new AdminHome(db);
    }
}

