* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    padding: 0 5% 0 5%;
}
.admin-print-path .path {
    font-size: 20px;
    font-weight: 200;
    line-height: 24.2px;
    text-align: left;
    padding: 10px 0 0 0;
}
.admin-print-view {
    margin-top:20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40.63px;
    text-align: center;
}
.admin-print-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}

.admin-autofill-reg, .admin-autofill-student-name {
    display: flex;
    flex-direction: row;
    gap:30px;
    margin-top:10px;
}
.admin-print-batch {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.admin-print-batch-department {
    background-color: #8DD7E14D;
    margin: 0 15px 5px 15px;
    border-radius: 10px;
    padding: 5px 7px 5px 7px;
}
.table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
}

    .table thead {
        background-color: #42D0EF;
    }

        .table thead tr th,
        .table tbody tr td {
            border: none;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.2px;
            vertical-align: top;
            opacity: 1;
            text-align: center;
            vertical-align: middle;
        }

    .table tbody tr:nth-child(odd) {
        background-color: #7ED7D1;
    }

    .table tbody tr:nth-child(even) {
        background-color: #9ED8EA;
    }
button {
    width: 140px;
    height: 35px;
    background-color: #2E4D8A;
    border-radius: 20px;
    padding: 0 5px 0 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    color: white;
    border: none;
}
.btn {
    width: 85%;
    text-align:end;
    margin-bottom:20px;
}