@page "/admin-print-view/{exam_id}/{student_id}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsAdmin")]

<PageTitle>Print-View</PageTitle>
<div class="AdministratorPrint">
    <div class="AdministratorPrint-text-contain">
        <div class="AdministratorPrint-text">
            <span class="AdministratorPrint-text-view">View</span><br />
            <div class="AdministratorPrint-text-register">
                <span>Register For End Semester Examination<br /></span>
                <span class="semester">Semester 01<br /></span>
                <div AdministratorPrint-text-department>
                    <span class="batch">
                        E20 Batch
                    </span>
                </div>
            </div>
        </div>


    </div>

    <div class="AdministratorPrint-table">
        <div class="student-details">
            <span class="registration-number">
                Registration Number :<span class="registration-number-student">STUDENT19</span>
            </span>
            <span class="registration-name">
                Student name :<span class="registration-student-name">student19</span>
            </span>
        </div>
        <table class="exam-department-table">
            <tr class="header-row">
                <th class="e-number">Course Code</th>
                <th class="student-name">Course Name</th>
                <th></th>

            </tr>
            <tr class="color-row1">
                <td class="e-number">MC1010</td>
                <td class="student-name">English Language Enhancement</td>
                <td class=""><a href="" class="approved" style="text-decoration:none">Approved</a></td>
            </tr>
            <tr class="color-row1">
                <td class="">MC1020</td>
                <td class="">Mathematics</td>
                <td class=""><a href="" class="rejected" style="text-decoration:none">Rejected</a></td>
            </tr>
            <tr class="color-row1">
                <td class="">ID 1010</td>
                <td class="">Engineering Drawing</td>
                <td class=""><a href="" class="rejected" style="text-decoration:none">Approved</a></td>
            </tr>
            <tr class="color-row1">
                <td class="">EC 1011</td>
                <td class="">Computing</td>
                <td class=""><a href="" class="rejected" style="text-decoration:none">Approved</a></td>
            </tr>
            <tr class="color-row1">
                <td class="">EC 1020</td>
                <td class="">Applied Electricity</td>
                <td class=""><a href="" class="rejected" style="text-decoration:none">Approved</a></td>
            </tr>
            <tr class="color-row1">
                <td class="">ID 1021</td>
                <td class="">Engineering Metrology</td>
                <td class=""><a href="" class="rejected" style="text-decoration:none">Approved</a></td>
            </tr>
        </table>
        <div class="back-button">
            <a href="admin-home" class="back-home" style="text-decoration:none">Back</a>
        </div>

    </div>

</div>
@code {
    [Parameter]
    public string exam_id { get; set; }

    [Parameter]
    public string student_id { get; set; }
}