body {
    margin: 0;
    z-index: 300;
}

::placeholder {
    color: black;
    opacity: 1;
}

:root {
    --placeholder: "yoyo"
}

.AdministratorNewExam .add-exam {
    position: relative;
    margin-left: 76px;
    margin-top: 10px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 28px;
}

.exam-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 174px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
}

    .exam-details .exam-row {
        display: flex;
        align-items: center;
    }

        .exam-details .exam-row span {
            width: 250px;
            white-space: nowrap;
            display: inline-block;
        }

    .exam-details .exam-title .colon,
    .exam-details .exam-semester .colon,
    .exam-details .exam-batch .colon,
    .exam-details .exam-closing-date .colon {
        margin-right: -200px;
    }

    .exam-details select {
        width: 366px;
        height: 42px;
        padding: 5px;
        border-radius: 10px;
        background-color: #8DD7E1;
        font-weight: 700;
        font-size: 18px;
        border: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z"/></svg>');
        background-repeat: no-repeat;
        background-position: left 320px center;
        background-size: 50px 25px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .exam-details .colon {
        display: inline-block;
        width: 10px;
        white-space: nowrap;
    }

    .exam-details input {
        width: 366px;
        height: 42px;
        padding: 5px;
        border-radius: 10px;
        background-color: #8DD7E1;
        font-weight: 700;
        font-size: 18px;
        border: none;
    }

.vertical-span {
    display: flex;
    flex-direction: column;
}

    .vertical-span span {
        margin-top: -10px;
    }

.date-input {
    width: 366px;
    height: 42px;
    background-color: #8DD7E1;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: #8DD7E1;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 3px;
}


.add-exam-table {
    margin: 10px 0 0 143px;
    width: 1116px;
    background-color: rgba(217, 217, 217, 0.55);
    min-height: 374px;
    box-sizing: border-box;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 18px;
}


.department-details {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    .department-details .department-name {
        padding-right: 10px;
    }

    .department-details select {
        width: 366px;
        height: 42px;
        padding: 5px;
        border-radius: 10px;
        background-color: #8DD7E1;
        font-weight: 700;
        font-size: 18px;
        border: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z"/></svg>');
        background-repeat: no-repeat;
        background-position: left 320px center;
        background-size: 50px 25px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

.exam-department-table-block {
    padding-left: 50px;
    padding-top: 50px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

    .exam-department-table-block .exam-department-table {
        width: 850px;
        border-collapse: collapse;
    }

.exam-department-table th,
.exam-department-table td {
    padding: 10px;
    text-align: center;
    border: none;
    width: calc(100% / 3);
}

.exam-department-table tr:nth-child(even) {
    background-color: rgba(126, 215, 209, 1);
    height: 62px;
}

.exam-department-table tr:nth-child(odd) {
    background-color: rgba(158, 216, 234, 1);
    height: 62px;
}

    .exam-department-table .add-item-dialog .addbutton {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }


.add-department,
.delete-department,
.add-course {
    width: 192px;
    height: 42px;
    background-color: rgba(140, 141, 148, 0.52);
    margin: 10px 0 0 143px;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border-radius: 10px;
}

    .add-department .add-department-button,
    .delete-department .delete-department-button,
    .add-course .add-course-button {
        padding-left: 5px;
        padding-top: 3px;
        background-color: rgba(140, 141, 148, 0.01);
        border: none;
    }

        .add-department .add-department-button img,
        .delete-department .delete-department-button img,
        .add-course .add-course-button img {
            width: 36px;
            height: 33px;
        }

.save-conform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    gap: 30px;
    padding-bottom: 20px;
}

.save {
    width: 208px;
    height: 42px;
    background-color: rgba(140, 141, 148, 0.52);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border-radius: 10px;
}

    .save img {
        padding-left: 5px;
        padding-top: 3px;
    }

    .save span {
        padding-left: 15px;
    }

.conform {
    width: 208px;
    height: 42px;
    background-color: rgba(140, 141, 148, 0.52);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    border-radius: 10px;
}

    .conform img {
        padding-left: 5px;
        padding-top: 3px;
    }

    .conform span {
        padding-left: 15px;
    }

.dialog-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 28px;
}

    .dialog-box .message-box {
        margin-top: 200px;
        margin-left: 547px;
        width: 526px;
        min-height: 300px;
        background-color: white;
        border-radius: 10px;
    }

        .dialog-box .message-box .container {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .dialog-box .message-box .container select {
                width: 250px;
                height: 42px;
                padding: 5px;
                border-radius: 10px;
                background-color: #8DD7E1;
                font-weight: 700;
                font-size: 18px;
                border: none;
                background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z"/></svg>');
                background-repeat: no-repeat;
                background-position: left 210px center;
                background-size: 50px 25px;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

        .dialog-box .message-box .add-course {
            margin-top: 70px;
            margin-left: 300px;
        }

.coordinator-input, coordinator-input:focus {
    outline: none;
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: dotted;
    font-weight: 700;
    width: 100%;
    position: relative;
    z-index: 302;
}

.autocomplete-wrapper {
    position: relative;
    width: 100%;
}

.autocomplete-suggestions {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 100%;
    font-weight: 700;
    color: rgba(0,0,0,0.25);
    pointer-events: none;
    z-index: 301;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}