@page "/admin-print-viewdp/{exam_id}/{student_id}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsAdmin")]

<PageTitle>Print-View</PageTitle>

<div class="admin-print-view">
    <section class="admin-print-path">
        <div class="path">Administrator home &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; Review & print admissions </div>
    </section>
    <section>
        <div class="admin-print-view">Review and print admission card</div>
        <div class="admin-print-register">
            <div style="text-decoration:underline">Register For End Semester Examination</div>
            <div class="semester" style="text-decoration:underline">Semester 06</div>
            <div class="admin-print-batch">
                <div style="text-decoration:underline">E20 Batch :</div><div class="admin-print-batch-department">Computer Engineering</div>
            </div>
        </div>
    </section>

    <section>
        <table class="table">
            <thead>
                <tr>
                    <th style="max-width:25px">E number</th>
                    <th style="max-width:100px">Student Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="max-width:25px" data-label="E number"></td>
                    <td style="max-width:100px" data-label="Student Name"></td>
                    <td style="max-width:50px"><button>VIEW</button></td>
                    <td style="max-width:50px"><button>PRINT</button></td>
                </tr>
                <tr>
                    <td style="max-width:25px" data-label="E number"></td>
                    <td style="max-width:100px" data-label="Student Name"></td>
                    <td style="max-width:50px"><button>VIEW</button></td>
                    <td style="max-width:50px"><button>PRINT</button></td>
                </tr>
            </tbody>
        </table>

    </section>
    <section>
        <div class="btn">
            <button>Print All</button>
        </div>
    </section>
</div>

@code {
    [Parameter]
    public string exam_id { get; set; }

    [Parameter]
    public string student_id { get; set; }
}