@namespace Elements

<link href="~/Style/DialogOptions.css" rel="stylesheet" />

@if (Opened)
{
	<div style="display:block" class="blocking" id="add-item">
		<div class="deselect-plane" @onclick="() => Close()">
		</div>
		<div class="msg hover-box">
			<h1>
				
			</h1>
			<p class="label">

			</p>
		</div>
	</div>
}

@code {
	[Parameter] public int ExamId { get; set; }
	[Parameter] public bool Opened { get; set; }
	[Parameter] public EventCallback ClosedCallback { get; set; }

	private void Close()
	{
		Opened = false;
		ClosedCallback.InvokeAsync();
	}
}