@namespace Elements

<div style="cursor: wait">
	<div class="deselect-plane" style="z-index:998">
	</div>
	<div class="hover-box" style="z-index:999; background-color: rgba(0,0,0,0); background: none; box-shadow: none;">
		<img src="assets\images\loading.gif" style="opacity: 0.5;" />
	</div>
</div>
