@page "/student-register"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsStudent")]

<PageTitle>Exam Registration</PageTitle>

<h3 style="text-align:center;"><u>Register for End Semester Examination</u></h3>
<h3 style="text-align:center;"><u>Semester 06</u></h3>
<!--has to add functionality for choose correct semester from previous page
assume when semester is selected available subjects for semester will be limited -->
<div class="department-container" style="display: flex; justify-content: center;">
    <h3>
        <u>
            <div class="department" style="display: flex; align-items: center;">
                <span>E20 Batch:</span>
                <select name="dropdown" style="background-color: rgba(141, 215, 225, 0.3); margin-left: 10px; border: none; outline: none; border-radius: 10px;"
                        @bind="selectedDep">
                    <option value="Electrical &amp; Electronic">Electrical &amp; Electronic</option>
                    <option value="Computer">Computer</option>
                    <option value="Civil">Civil</option>
                    <option value="Mechanical">Mechanical</option>
                </select>
            </div>
        </u>
    </h3>
</div>
<div style="margin-left: 50px;">
    <label for="RegNum" style="width:270px; font-size: 20px">Student Registration Number :</label>
    <input type="text" id="RegNum" name="RegNum" style="width: 70%; height: 10%; border-radius: 5px; " required />
</div>
<div style="margin-left: 50px;">
    <label for="FullName" style="width:270px; font-size: 20px">Student Full Name :</label>
    <input type="text" id="FullName" name="FullName" style="width: 70%; height: 10%; border-radius: 5px; " required />
</div>
<div style="margin-left: 50px; display: inline-flex; align-items: center;">
    <label for="Repeat" style="width:274px; font-size: 20px">Repeat Student :</label>
    <input type="checkbox" id="Repeat" name="Repeat" style="width: 20px; height: 20px;" @onclick="toggleShow" />
</div>

@if (show)
{
    <div style="margin-left: 50px;">
        <label for="Advisor" style="width:270px; font-size: 20px">Advisor Name :</label>
        <input type="text" id="Advisor" name="Advisor" style="width: 70%; height: 10%; border-radius: 5px; " required />
    </div>
    <div style="margin-left: 50px;">
        <label for="Payment" style="width:270px; font-size: 20px">Payment Receipt :</label>
        <input type="file" id="Payment" name="Payment" style=" height: 30px; border-radius: 5px; " accept=".pdf, .jpg, .jpeg, .png" required />
    </div>
}

<p></p>
<p style="margin-left: 50px; line-height: 2.5;"><b>[ADD OR DROP SUBJECTS ACCORDINGLY]</b></p>
<table style="margin-left: 5%; width: 90%">
    <thead style="height: 60px; font-size:20px">
        <tr style="background-color:#42D0EF;">
            <th style="text-align:center">Course Code</th>
            <th style="text-align:center">Course</th>
            <th style="text-align:center">Course Co-ordinator</th>
            <th style="text-align:center">ADD or DROP</th>
        </tr>
    </thead>
    <tbody id="table-body" style="font-size:20px">
        <tr>
            <td>EC1111</td>
            <td>Module 1</td>
            <td>Coordinator 1</td>
            <td>Add or Drop</td>
        </tr>
        <tr>
            <td>EC1112</td>
            <td>Module 2</td>
            <td>Coordinator 2</td>
            <td>Add or Drop</td>
        </tr>
        <tr>
            <td>EC1113</td>
            <td>Module 3</td>
            <td>Coordinator 3</td>
            <td>Add or Drop</td>
        </tr>
    </tbody>
</table>


<button style="float: right; margin:50px; width: 174px; height: 47px; border: none; border-radius: 10px; background-color:rgba(0,0,0,0.25)">
    Confirm
</button>
<p style="margin-bottom:100px"></p>
<style>
    tr:nth-child(even) {
        background: #9ED8EA;
        text-align: center;
        height: 60px;
    }

    tr:nth-child(odd) {
        background: #7ED7D1;
        text-align: center;
        height: 60px;
    }
</style>

@code {
    private string selectedDep { get; set; }

    private bool show = false;
    private void toggleShow()
    {
        show = !show;
    }
}
