* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.department-container, .semester-name, .exam-name {
    display: flex;
    justify-content: center;
    padding-bottom:4px;
    font-size:24px;
}

.main-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
    .main-container .FullName, .RegNum, .Repeat, .Advisor, .Payment { 
        display: flex;
        max-width: 1600px;
        height: auto;
    }

        .main-container .confirm-button {
            height: 30px;
        }

        .main-container .confirm-button .confirm {
            float: right;
            border-radius: 10px;
            border: none;
            height: 40px;
            width: 100px;
        }

.RegNum label, .FullName label, .Repeat label, .Advisor label, .Payment label{
    width: 270px;
    font-size: 20px;
}

    .Payment label.payment-label {
        FONT-WEIGHT: 800;
        border: none;
        border-radius: 5px;
        width: 160px;
        height: 25px;
        font-size: 16px;
        color: white;
        background-color: #2E4D8A;
        position: relative;
        top: 4px;
        text-align: center;
    }

.input-div {
    width: 1000px;
}

input[type="text"] {
    outline: none;
    border: none;
    background: rgba(0,0,0,0);
    border-bottom: dotted;
    font-weight: 700;
    width: 100%;
    position: relative;
    z-index: 302;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

select {
    background-color: rgba(141, 215, 225, 0.3);
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

table {
    width: 100%;
}

thead {
    height: 60px;
    font-size: 20px;
}

tbody {
    font-size: 20px;
}

th {
    text-align: center;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    td:hover {
        overflow: visible;
        white-space: nowrap;
    }

.AddDrop {
    font-weight: 800;
    text-align: center;
    float: none;
    width: auto;
    height: 32px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2E4D8A;
}

tr:nth-child(even) {
    background: #9ED8EA;
    text-align: center;
    height: 60px;
}

tr:nth-child(odd) {
    background: #7ED7D1;
    text-align: center;
    height: 60px;
}

.confirm {
    font-weight: 800;
    color: white;
    background-color: #2E4D8A;
}