* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 .title {
    color: black;
    font-size: 32px;
    font-weight: 700;
    word-wrap: break-word;
}

/* Find an exam by: */
h1 .subtitle {
    color: #032826;
    font-size: 28px;
    font-weight: 700;
    word-wrap: break-word;
}

/* Your Registered Exams: */
.registered-exams h2 {
    color: #032826;
    font-size: 28px;
    font-weight: 700;
    word-wrap: break-word;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filter_container {
    display: flex;
    justify-content: flex-start; /* Align to the left */
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.filter-box {
    flex: 0 1 300px; /* Set a fixed width */
    margin-right: 0;
    background-color: rgba(141, 215, 225, 0.67);
    border-radius: 5px;
}

.filter-header {
    font-weight: bold;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    background-color: rgba(141, 215, 225, 0.67);
    border-radius: 5px;
    padding: 10px;
}

.select-filter {
    width: 366px;
    height: 42px;
    padding: 5px;
    border-radius: 10px;
    background-color: #8DD7E1;
    font-weight: 700;
    font-size: 18px;
    border: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.293 7.293a1 1 0 0 1 1.414 0L10 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 0-1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position: left 320px center;
    background-size: 50px 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.exam-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(141, 215, 225, 0.21);
}

.registration-status-box {
    flex: 2;
    margin-right: 10px;
}

.button-container {
    display: flex;
    align-items: center;
}

.register-button {
    background-color: rgba(141, 215, 225, 0.21);
    color: black;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
    word-wrap: break-word;
}

    .register-button:hover {
        background-color: rgba(141, 215, 225, 0.4);
    }

.dropdown-icon {
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.courses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .courses-table th {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        background-color: #42D0EF;
        color: white;
    }

    .courses-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .courses-table tr.odd {
        background-color: #7ED7D1;
    }

    .courses-table tr.even {
        background-color: #9ED8EA;
    }

.registered-exams {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.registered-exams-list {
    list-style-type: none;
    padding: 0;
    background-color: white;
}

    .registered-exams-list li.registered-exam-item {
        margin-bottom: 10px;
        background-color: rgba(141, 215, 225, 0.21);
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        position: relative; /* To position the icon */
    }

.registered-exam-item details {
    padding: 10px;
    color: #074D56; /* Added text color */
    font-size: 22px; /* Added font size */
    font-style: italic; /* Added font style */
    font-weight: 600; /* Added font weight */
    word-wrap: break-word; /* Added word wrap */
    background-color: rgba(141, 215, 225, 0.21);
    border: none;
}

.registered-exam-item summary {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(141, 215, 225, 0.21);
}

    .registered-exam-item summary img.dropdown-icon {
        position: absolute;
        right: 10px; /* Positioning icon to the right */
        background-color: rgba(141, 215, 225, 0.21);
    }

.error {
    color: red;
    font-weight: bold;
}

.alert {
    margin-top: 20px;
}

details {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

summary {
    font-weight: bold;
    cursor: pointer;
}

.arrow-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
    opacity: 50%;
    margin: 0px 5px 0px 5px;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

    .arrow-icon:hover {
        transform: translate(0px, -5px);
        opacity: 100%;
    }