* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    padding: 0 5% 0 5%;
}

.coordinator-path .path {
    font-size: 20px;
    font-weight: 200;
    line-height: 24.2px;
    text-align: left;
    padding: 10px 0 10px 0;
}

.coordinator-approval-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 40.63px;
    text-align: left;
    padding: 0 2% 0 2%;
}

.coordinator-exam-find-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 35.55px;
    text-align: left;
    padding: 0 3% 1rem 3%;
}

.coordinator-dropbox .dropbox {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 50rem;
    gap: 2rem;
    flex-wrap: wrap; /*responsive gap eka wedi*/
}

select {
    width: 260px;
    height: 44px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #8DD7E1AB;
    font-size: 20px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.department {
    width: 420px;
}

.coordinator-exam-details {
    padding-top: 1rem;
}
.details, .dropbox {
    margin-bottom: 20px;
    padding: 0 3% 0 3%;
}

.exam-details, .pass-exam {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.exam {
    border: none;
    width: 1039px;
    min-height: 101px;
    padding: 20px;
    border-radius: 10px;
    background-color: #8DD7E1AB;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 26.63px;
    text-align: center;

}

.exam-batch-data {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.view {
    display: block;
    text-align: center;
    justify-content: center;
}

    .view button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 208.31px;
        height: 101px;
        background-color: #8DD7E136;
        border-radius: 10px;
        border: none;
        user-select: none;
        cursor: pointer;
        font-size: 22px;
        font-style: italic;
        font-weight: 600;
        line-height: 26.63px;
    }

.coordinator-table {
    width: 100%;
}

.table {
    border-collapse: collapse;

    margin-bottom:20px;
}

    .table thead {
        background-color: #42D0EF;
    }

        .table thead tr th,
        .table tbody tr td {
            border: none;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.2px;
            vertical-align: top;
            opacity: 1;
            text-align: center;
            padding: 20px;
            vertical-align:middle;
        }

            .table tbody tr td a {
                width: 122px;
                height: 18px;
                border: none;
                border-radius: 30px;
                background-color: #8C8D94;
                padding: 25px;
                text-decoration: none;
                color: black;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align:center;
            }

    .table tbody tr:nth-child(odd) {
        background-color: #7ED7D1;
    }

    .table tbody tr:nth-child(even) {
        background-color: #9ED8EA;
    }

@media(max-width: 1100px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

        .table tr {
            margin-bottom: 15px;
        }

        .table tbody tr td {
            text-align: right;
            padding-left: 50%;
            position: relative;
        }

        .table td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: 600;
            font-size: 20px;
            text-align: left;
        }




    @media (max-width: 800px) {
        .coordinator-dropbox .dropbox {
            gap: 1rem;
        }
    }

    @media (max-width: 1400px) {
        .exam-details, .pass-exam {
            display: inline-flex;
            justify-content: start;
            align-items: center;
            gap: 30px;
            width:100%;
            flex-direction:row;
        }
    }

    @media (max-width: 1400px) {

        .view {
            display: block;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
    }
}

.approval-states-text-not {
    border-radius: 10px;
    background-color: #8C8D94;
    padding: 5px;
    text-align: center;
}
.pass-exam-text, .upcoming-exam-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 35.55px;
    text-align: left;
    text-decoration:underline;

}