@page "/coordinator-home"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@using ExamRegistrationUoJ.Services.DBInterfaces
@using CoordinatorPages
@using System.Data
@attribute [Authorize(Policy = "IsCoordinator")]

@inject IDBServiceCoordinator1 db

<PageTitle>Home - Coordinator</PageTitle>

    <div class="coordinator">
        <section class="coordinator-path">
            <div class="path">Coordinator login &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; Coordinator home</div>
        </section>

        <section class="coordinator-exam-text">
            <div class="coordinator-approval-text">Directed Examinations for Coordinator Approval Process</div>
            <div class="coordinator-exam-find-text">Find an exam by</div>
        </section>

        <section class="coordinator-dropbox">
            <div class="dropbox">
                <select class="department">
                    <option selected disabled hidden>Department</option>
                    <option value="0">Department1</option>
                    <option value="0">Department2</option>
                    <option value="0">Department3</option>
                    <option value="0">Department4</option>
                </select>
                <select class="semester">
                    <option selected disabled hidden>Semester</option>
                    <option value="semester1">Semester 1</option>
                    <option value="semester2">Semester 2</option>
                    <option value="semester3">Semester 3</option>
                    <option value="semester4">Semester 4</option>
                    <option value="semester5">Semester 5</option>
                    <option value="semesters--extended">Semester 05 Extended</option>
                    <option value="semester6">Semester 6</option>
                    <option value="semester7">Semester 7</option>
                    <option value="semester8">Semester 8</option>
                </select>
            </div>
        </section>
        <div class="details">
            <section class="coordinator-exam-details">
                <div class="exam-details">
                    <div class="exam">
                        <div class="exam-description">End Semester Examination_Semester 03_E22 Batch</div>
                        <div class="exam-batch-data">
                            <p class="exam-approval">Approval Opens: 2024.04.06</p>
                            <p class="exam-closed">Closed: 2024.04.13</p>
                        </div>
                    </div>
                    <div class="view">
                        <a href="/coordinator-approve" class="btn">View</a>
                    </div>
                </div>
            </section>

            <section class="coordinator-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Semester</th>
                            <th>Department</th>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Approval States</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Semester">01</td>
                            <td data-label="Department">Department01</td>
                            <td data-label="Course Code">CS101</td>
                            <td data-label="Course Name">Introduction to Programming</td>
                            <td data-label="Approval States"><a href="/coordinator-approve">Complete</a></td>
                        </tr>
                        <tr>
                            <td data-label="Semester">02</td>
                            <td data-label="Department">Department02</td>
                            <td data-label="Course Code">CS101</td>
                            <td data-label="Course Name">Introduction to Programming</td>
                            <td data-label="Approval States"><a href="/coordinator-approve">Not Complete</a></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

@code {
}

