@page "/coordinator-approve"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsCoordinator")]

<PageTitle>Student Approval</PageTitle>

<div class="coordinator">
<section class="coordinator-path">
        <div class="path">Coordinator login &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp; Coordinator home &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;  Coordinator approval</div>
</section>

<section >
    <div class="student-approval-text">Approve Eligible Students For</div>
</section>

<section class="course-details">
    <div class="course-code">
        <div class="course-code-text">Course Code &nbsp; : </div>
        <div class="course-code-auto">Auto fill</div>
    </div>
    <div class="course-name">
         <div class="course-name-text">Course Name :</div>
         <div class="course-name-auto">Auto fill</div>
    </div>
</section>
    <section class="student-table">
        <table class="table">
            <thead>
                <tr>
                    <th>E Number</th>
                    <th>Student Name</th>
                    <th>Student Advisor</th>
                    <th>Eligibility</th>
                    <th>Attendence %</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="E Number">2020E165</td>
                    <td data-label="Student Name">Arosh Upathilak</td>
                    <td data-label="Student Advisor">Arosh upathilak</td>
                    <td data-label="Eligibility"> 
                        <div class="eligibility">
                            <img src="Assets/Images/Done.png" class="Done" style="width: 36px; height: 33px;" onclick="show_hide_icon(this)" />
                            <img src="Assets/Images/Close.png" class="Close" style="width: 36px; height: 33px;" onclick="show_hide_icon(this)" />
                        </div>
                    </td>
                    <td data-label="Attendence %">80%</td>
                </tr>
                <tr>
                    <td data-label="E Number">2020E165</td>
                    <td data-label="Student Name">Arosh Upathilak</td>
                    <td data-label="Student Advisor">Arosh upathilak</td>
                    <td data-label="Eligibility">
                        <div class="eligibility">
                            <img src="Assets/Images/Done.png" class="Done" style="width: 36px; height: 33px;" onclick="show_hide_icon(this)" />
                            <img src="Assets/Images/Close.png" class="Close" style="width: 36px; height: 33px;" onclick="show_hide_icon(this)" />
                        </div>
                    </td>
                    <td data-label="Attendence %">80%</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="conform-btn">
        <a href="/coordinator-home" class="conform-btn">
            <div class="conform-img"><img src="Assets/Images/Checked_Checkbox.png" /></div>
            <div class="conform-text">Confirm</div>
        </a>
    </section>

</div>

<script>
    function show_hide_icon(clickedIcon) {
        var parentDiv = clickedIcon.parentNode;
        var doneIcon = parentDiv.querySelector('.Done');
        var closeIcon = parentDiv.querySelector('.Close');

        if (clickedIcon === doneIcon) {
            if (doneIcon.style.backgroundColor === 'green') {
                doneIcon.style.backgroundColor = ''; 
            } else {
                doneIcon.style.backgroundColor = 'green'; 
                closeIcon.style.backgroundColor = ''; 
            }
        }
        else if (clickedIcon === closeIcon) {
            if (closeIcon.style.backgroundColor === 'red') {
                closeIcon.style.backgroundColor = ''; 
            } else {
                closeIcon.style.backgroundColor = 'red'; 
                doneIcon.style.backgroundColor = ''; 
            }
        }
    }




</script>

@code {

}
