@page "/coordinator-approve"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsCoordinator")]

<PageTitle>Student Approval</PageTitle>

<h1>Approve Eligible Students For</h1>

<div class="centered">
    <div>
        <div class="top">
            <div class="top-cell">
                <div class="float-left">Course Code</div>
                <div class="float-left autofill">Autofill</div>
            </div>
            <div style="margin: auto;"></div>
            <div class="top-cell">
                <div class="float-left">Course Name</div>
                <div class="float-left autofill">Autofill</div>
            </div>
        </div>
        <div class="table-cell">
            <table>
                <tr>
                    <th>E number</th>
                    <th>Student Name</th>
                    <th>Student Advisor</th>
                    <th>Eligibility</th>
                    <th>Attendance<span class="additional-1"> %</span></th>
                </tr>
                <tr>
                    <td>2020/E/169</td>
                    <td>WEERAKOON A. B.</td>
                    <td>CLARKE R.</td>
                    <td class="cell-centered"><input type="checkbox" checked="checked"/></td>
                    <td class="cell-centered">75 %</td>
                </tr>
                <tr>
                    <td>2020/E/165</td>
                    <td>UPATHILAK A. L. A. A.</td>
                    <td>BROWN D.</td>
                    <td class="cell-centered"><input type="checkbox"/></td>
                    <td class="cell-centered">82 %</td>
                </tr>
            </table>
        </div>
        <div class="width-fill">
            <button class="float-right confirm-button">
                <img src="assets/images/tick.png" height="36px" width="36px"/>
                <div class="center">Confirm</div>
            </button>
        </div>
    </div>
</div>

@code {

}
