﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inika', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    overflow-y: scroll;
}

::placeholder {
    color: black;
    opacity: 1;
}

:root {
    --placeholder: "Enter the Attendence ";
}

section {
    padding: 0 5% 0 5%;
}


.student-approval-text {
    font-size: 28px;
    font-weight: 600;
    line-height: 35.55px;
    text-align: left;
    margin-top:20px;
}

.course-details {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    padding-top: 20px;
}

.course-code, .course-name {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.course-code-auto {
    width: 200px;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    background-color: #8DD7E1AB;
    text-align: center;
}

.course-name-auto {
    width: 400px;
    height: 42px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    background-color: #8DD7E1AB;
    text-align: center;
}

.course-code-text, .course-name-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom:20px;
}

    .table thead {
        background-color: #42D0EF;
    }

        .table thead tr th,
        .table tbody tr td {
            border: none;
            font-size: 20px;
            font-weight: 700;
            line-height: 24.2px;
            vertical-align: top;
            opacity: 1;
            text-align: center;
            padding: 20px;
        }


    .table tbody tr:nth-child(even) {
        background-color: rgba(126, 215, 209, 1);
    }

    .table tbody tr:nth-child(odd) {
        background-color: rgba(158, 216, 234, 1);
    }

        .table tbody tr td input {
            width: 210px;
            height: 30px;
            padding: 5px;
            border-radius: 10px;
            background-color: rgba(0,0,0,0);
            font-weight: 700;
            font-size: 18px;
            border: none;
            text-align: center;
        }


            .table tbody tr td input::-webkit-outer-spin-button,
            .table tbody tr td input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .table tbody tr td input[type=number] {
                -moz-appearance: textfield;
            }

        .table tbody tr td .coordinator-input::placeholder {
            color: #999;
            font-style: italic;
        }

.eligibility {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

    .eligibility img {
        cursor: pointer;
    }
.conform-btns {
    margin-top:40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    flex-direction:row
}
.conform-btn, .import-btn, .export-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.conform-btns .import-img img , .conform-btns .export-img img{
    width:36px;
    height:36px;
}

.conform-btns a {
    background-color: #8C8D9485;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    border: none;
}

        .conform-btns a .conform-text, .conform-btns a .import-text, .conform-btns a .export-text {
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 21.78px;
            color: black;
        }

img.clicked.Done {
    background-color: green; /* Initial green for Done image */
}

img.clicked.Close {
    background-color: red; /* Initial red for Close image */
}
@media(max-width: 1100px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

        .table tr {
            margin-bottom: 15px;
        }

        .table tbody tr td {
            text-align: right;
            padding-left: 50%;
            position: relative;
        }

        .table td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: 600;
            font-size: 20px;
            text-align: left;
        }
        .table tbody tr td input {
            width: 50px;
        }
    .eligibility {
        justify-content: end;
    }
}

@media(max-width: 900px) {
    .course-details {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    .course-code-auto, .course-name-auto, .course-code-text, .course-name-text {
        font-size: 15px;
    }
}

@media(max-width: 500px) {
    .course-name-auto {
        width: 200px;
    }
}

@media(max-width: 400px) {

    .course-code-auto, .course-name-auto, .course-code-text, .course-name-text {
        font-size: 10px;
    }

    .table tbody tr td input {
        width: 100%;
        font-weight: 700;
        font-size: 14px;
        
    }
}


.coordinator-input::-webkit-inner-spin-button,
.coordinator-input::-webkit-outer-spin-button {
    pointer-events: auto;
}

.coordinator-input:hover {
    cursor: default;
}

.coordinator-input::-webkit-inner-spin-button,
.coordinator-input::-webkit-outer-spin-button {
    opacity: 1;
}

.deadline {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 35.55px;
    margin: 20px 0 0 20px;
    color: red;
    width:100%;
}

