@page "/coordinator-home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "IsCoordinator")]

<PageTitle>Home - Coordinator</PageTitle>

<div class="container">
    <h1 class="title1">Directed Examinations for Coordinator Approval Process</h1>
    <h2 class="title2">Find an exam by:</h2>
    <div class="flex-box">
        <div class="drop-downs">
            <div class="dept-drop">
                <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction('myDropdown')">
                        Department
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8"
                             fill="none">
                            <path d="M1 1L6.5 7L12 1" stroke="#14363A" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="dropdown-content" id="myDropdown" aria-placeholder="Department">
                        <a href="#">Civil</a>
                        <a href="#">Computer</a>
                        <a href="#">EEE</a>
                        <a href="#">Mechanical</a>
                    </div>
                </div>
            </div>
            <div class="sem-drop">
                <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction('myDropdown2')">
                        Semester
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8"
                             fill="none">
                            <path d="M1 1L6.5 7L12 1" stroke="#14363A" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="dropdown-content" id="myDropdown2" aria-placeholder="Semester">
                        <a href="#">Semester 1</a>
                        <a href="#">Semester 2</a>
                        <a href="#">Semester 3</a>
                        <a href="#">Semester 4</a>
                        <a href="#">Semester 5</a>
                        <a href="#">Semester 6</a>
                        <a href="#">Semester 7</a>
                        <a href="#">Semester 8</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-box2">
        <div class="exams">

            <div class="exam-drop">
                <div class="dropdown">

                    <button class="dropbtn drp3" onclick="myFunction('myDropdown3')">
                        Exams
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8"
                             fill="none">
                            <path d="M1 1L6.5 7L12 1" stroke="#14363A" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="dropdown-content dc3" id="myDropdown3" aria-placeholder="Department">
                        <a href="#">
                            E 21 Batch:Semester 05:End Exam Registration
                            Approval Opens:2024.03.25 Closed:2024.04.05
                        </a>
                        <a href="#">
                            E 22 Batch:Semester 03:End Exam Registration
                            Approval Opens:2024.03.25 Closed:2024.04.05
                        </a>
                        <a href="#">
                            E 23 Batch:Semester 01:End Exam Registration
                            Approval Opens:2024.03.25 Closed:2024.04.05
                        </a>
                    </div>
                </div>
                <button id="view">View</button>
            </div>
        </div>
    </div>
</div>
<div class="table-container">
    <table id="co-table">
        <thead>
            <tr>
                <th>Semester</th>
                <th>Department</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Approval State</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fall 2023</td>
                <td>Computer Science</td>
                <td>CSCI101</td>
                <td>Introduction to Computer Science</td>
                <td>
                    <a href="approval-page.html">
                        <button id="btn-not-completed">Completed</button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>Spring 2024</td>
                <td>Electrical Engineering</td>
                <td>EE101</td>
                <td>Introduction to Electrical Engineering</td>
                <td>
                    <a href="approval-page.html">
                        <button id="btn-not-completed">Not Completed</button>
                    </a>
                </td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
<!--Exams Drop Down-->
<!--Scripts-->
<script>
    function myFunction(dropdownId) {
        var dropdown = document.getElementById(dropdownId);
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.id !== dropdownId && openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
        dropdown.classList.toggle("show");
    }


    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

@code {

}
